.comboBox {
  width: 300px;

  & .input {
    anchor-name: --input-el;
    width: 100%;
    padding: 0.5em;

    color: #dddddd;
    background-color: #333333;
    border: solid 1px #bbbbbb;
    border-radius: 4px;

    &:focus-visible {
      outline: none;
      border: solid 1px goldenrod;
    }
  }

  & .options {
    position-anchor: --input-el;
    top: anchor(bottom);
    left: anchor(left);
    width: 300px;
    margin: 0;
    border: solid 1px #111111;
    border-radius: 4px;
    background-color: #333333;
  }
}

.option {
  color: #dddddd;
  padding: 0.25em;

  & mark {
    color: goldenrod;
    background-color: transparent;
  }
}