.project {
  text-decoration: none !important;

  display: block;
  container-type: inline-size;

  &:hover article {
    background: var(--radial-bg);
  }

  & .article {
    display: flex;
    flex-direction: column;
    border: solid 1px #666666;
    border-radius: 15px;

    padding: 0;

    & .imageContainer {
      width: calc(100% + 2px);
      height: 25dvw;
      margin: -1px -1px 0 -1px;

      border: solid 1px #daa52080;
      border-radius: 15px 15px 0 0;

      overflow: hidden;

      & .projectImage {
        width: 100%;
        height: 100%;
      }
    }


    & main {
      padding: 0 1em;
      flex-grow: 1;

      & h3 {
        color: goldenrod;
      }
    }
  }

  @container (min-width: 400px) {
    .article {
      flex-direction: row;

      & .imageContainer {
        flex-shrink: 0;

        width: 213px;
        height: 213px;
        margin: -1px 1em 0 -1px;

        border-radius: 15px 0 15px 15px;
      }

      & main {
        & h3 {
          margin-top: 0.5em;
        }

        & p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}