.blogPostList {
  list-style: none;
  padding: 0;

  & li {
    max-height: 120px;
    overflow: hidden;
    transition: max-height 1s ease-out;
    margin-bottom: -1px;

    &:has(a:focus-visible) {
      outline: solid 2px #dddddd;
    }
  }

  & li + li {
    border-top: solid 1px #333333;
  }
}