.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.careerTimeline {
  display: flex;

  & .career {
    padding: 8px;
    flex-grow: 1;

    & article + article {
      margin-top: 2px;
    }

    .deLijn {
      height: 130px;
      --lines: 3;
      --title-lines: 1;

      & svg {
        right: -70px;
      }
    }

    & .thailand {
      height: 4px;
      border: none;
    }

    & .c4t {
      height: 170px;
      --lines: 5;
      --title-lines: 1;

      & svg {
        height: 100px;
        bottom: 10px;
        right: -50px;
      }
    }

    & .cmWeb {
      height: 590px;

      & svg {
        height: 200px;
        right: -60px;
      }
    }

    & .cmJava {
      height: 600px;

      & svg {
        height: 200px;
        right: -60px;
      }
    }
  }
}