.careerBlock {
  display: flex;
  flex-direction: column;

  border: solid 1px #444444;
  padding: 0.3em 0.75em;
  border-radius: 5px;
  
  background: radial-gradient(ellipse at top left, #222222, transparent),
              radial-gradient(ellipse at bottom right, #2a2a2a, transparent);

  &:hover {
    background: radial-gradient(ellipse at top left, #222222, transparent),
            radial-gradient(ellipse at bottom right, #444444, transparent);
  }

  & .title {
    font-weight: lighter;
    font-size: 1.25em;
    margin: 0;
  }

  & .period {
    font-size: 0.8em;
    color: #888888;
    margin-top: 2px;
  }

  & .description {
    flex-grow: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--lines);
    
    & p {
      margin: 6px 0;
      font-size: 0.9em;
      line-height: 1.2em;
    }
  }

  & .technologies {
    font-size: 0.75em;
    font-weight: normal;
    color: goldenrod;
  }
}