.topicFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;


  & button {
    zoom: 0.68;
    flex-grow: 1;
    max-width: 10em;
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: normal;
    color: goldenrod;

    &:first-of-type {
      max-width: 12em;
    }
  }

  & .searchInput {
    zoom: 0.68;
  }
}

@media (min-width: 390px) {
  .topicFilter button {
    zoom: 0.75;
  }
}

@media (min-width: 800px) {
  .topicFilter button {
    flex-grow: 0;
  }
}